<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class="form-group">
    <label for="name">Name</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <%= f.text_field :email, class: "form-control", placeholder: "Enter email"%>
  </div>
  <div class="form-group form-check">
    <label for="password">Password</label>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter password"%>
  </div>
  <div class="form-group form-check">
    <label for="password_confirmation">Password Confirmation</label>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password"%>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary"%>
<% end %>