<thead>
      <tr>
        <th colspan="2">Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <% @order.line_items.each do |item| %>
      <tr>
      <td colspan="2">
        <%= image_tag item.product.image.tiny %>
        <b><%= item.product.name%></b>
         <br><br> 
         <b>Item description:</b>
         <%= item.product.description %> 
        </td>
        <td>
        <%= humanized_money_with_symbol item.product.price.to_i %>
        </td>
        <td>
        <%=item[:quantity].to_i%>
        </td>
        <td>
          <%= humanized_money_with_symbol (item.product.price.to_i * item[:quantity].to_i).to_i %>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          TOTAL:
        </th>
        <th>
          <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
        </th>
      </tr>
    </tfoot>